<% provide(:title, "Home") %>

<h1>Rails App</h1>
<p>
This is a sample rails application built to further reinforce my knowledge with the ROR framework.
You can find the <a href="https://github.com/rmcwilliam/rails-app">code here.</a>
</p>
